#title{
    margin-top: -12%;
    margin-left: 16%;
    width: 240px;
    font-size: x-large;
    font-family: Righteous !important;
    font-weight: bolder;
    text-shadow: 4px 4px 4px rgba(247,242,242,0.84);
}

.Container{
    background-color: #D3DADD !important;
    height: 550px;
}

.mobile-Container{
    margin: auto !important;
    margin-left: 7px !important;
    padding: 10px;
}